/* .logo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1440px;
  height: 6865px;
  z-index: 256;
}

.MS {
  font-size: 35px;
  font-family: "Circular";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.143;
  text-align: center;
  top: 39.498px;
}
.Menu_bar {
  position: absolute;
  background-color: blue;
  left: 0px;
  top: 0px;
  width: 1440px;

  height: 3em;
  z-index: 270;
}
.navbar {
  list-style-type: none;
  left: 3em;
}
.navbar a {
  text-decoration: none;
  color: black;
}
.navbar li {
  display: inline;
} */
