.logo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1440px;
  height: 6865px;
  z-index: 256;
}

.MS {
  font-size: 35px;
  font-family: "Circular";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.143;
  text-align: center;
  position: absolute;
  left: 56.938px;
  top: 39.498px;
  z-index: 254;
}
.Menu_bar {
  position: absolute;
  background-color: blue;
  left: 0px;
  top: 0px;
  /* width: 1440px; */
  height: 1em;
  z-index: 270;
}
